# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
app/app.iml
app/build/
ionchain.iml
ioncwalletsdk/.gitignore
ioncwidget/.gitignore
local.properties
qrcode/.gitignore
qrcode/build/
widget/.gitignore
