# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gradle/
adapter/build/generated/res/
adapter/build/generated/source/apt/
adapter/build/generated/source/rs/
adapter/build/interm
ediates/annotation_processor_list/
adapter/build/intermediates/check-manifest/
adapter/build/intermediates/incremental/debug-mergeJniLibs/
adapter/build/intermediates/incremental/mergeDebugJniLibFolders/
adapter/build/intermediates/incremental/mergeDebugShaders/
adapter/build/intermediates/incremental/packageDebugAssets/
adapter/build/intermediates/incremental/packageDebugResources/stripped.dir/
adapter/build/intermediates/intermediate-jars/
adapter/build/intermediates/javac/
adapter/build/intermediates/jniLibs/
adapter/build/intermediates/library_assets/
adapter/build/intermediates/public_res/
adapter/build/intermediates/rs/
adapter/build/intermediates/shader_assets/
adapter/build/intermediates/shaders/
adapter/build/intermediates/transforms/
adapter/build/tmp/
adapter/src/main/java/com/smart/.DS_Store
app/app.iml
app/ionchain_android/
app/src/.DS_Store
app/src/main/.DS_Store
app/src/main/res/.DS_Store
app/src/main/res/drawable-hdpi/.DS_Store
app/src/main/res/drawable-mdpi/.DS_Store
app/src/main/res/drawable-xhdpi/.DS_Store
app/src/main/res/drawable-xxhdpi/.DS_Store
app/src/main/res/drawable-xxxhdpi/.DS_Store
local.properties
.gitignore
app/build
build/generated/res/
build/generated/source/apt/
build/generated/source/rs/
build/intermediates/annotation_processor_list/
build/intermediates/check-manifest/
build/intermediates/incremental/debug-mergeJniLibs/
build/intermediates/incremental/mergeDebugJniLibFolders/
build/intermediates/incremental/mergeDebugShaders/
build/intermediates/incremental/packageDebugAssets/
build/intermediates/incremental/packageDebugResources/stripped.dir/
build/intermediates/intermediate-jars/
build/intermediates/javac/
build/intermediates/jniLibs/
build/intermediates/library_assets/
build/intermediates/public_res/
build/intermediates/rs/
build/intermediates/shader_assets/
build/intermediates/shaders/
build/intermediates/transforms/
build/tmp/
src/main/java/com/smart/.DS_Store
build/generated/source/buildConfig/
build/intermediates/aapt_friendly_merged_manifests/
build/intermediates/full_jar/
build/intermediates/incremental/packageDebugResources/compile-file-map.properties
build/intermediates/incremental/packageDebugResources/merged.dir/
build/intermediates/incremental/packageDebugResources/merger.xml
build/intermediates/merged_manifests/
build/intermediates/packaged_res/
build/intermediates/res/
build/intermediates/symbols/
build/outputs/
/adapter/build/
