# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
app/app.iml
ionchain.iml
ioncwalletsdk/.gitignore
ioncwidget/.gitignore
local.properties
qrcode/.gitignore
qrcode/build/
widget/.gitignore
build/
/app/xiaomi/
!/.gitignore
.gitignore
huawei/release/output.json
