<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ionc.wallet.sdk">

    <application>
        <activity android:name=".activity.base.AbsByCreateActivity" />
        <activity android:name=".activity.base.AbsByMnemonicActivity" />
        <activity android:name=".activity.base.AbsByPrivateKeyActivity" />
        <activity android:name=".activity.base.AbsByKeystoreActivity" />
        <activity android:name=".activity.base.AbsSelectCreateModeWalletActivity"></activity>
    </application>

</manifest>