<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ionc.wallet.sdk">

    <application>
        <activity android:name=".activity.newwallet.NewWalletByCreateActivity" />
        <activity android:name=".activity.newwallet.NewWalletByMnemonicActivity" />
        <activity android:name=".activity.newwallet.NewWalletByPriKeyActivity" />
        <activity android:name=".activity.newwallet.ByKeystoreActivity"></activity>
    </application>

</manifest>