<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sdk.wallet.ui_base">

    <application>
        <activity
            android:name="org.sdk.wallet.ui_base.activity.AbsBaseActivity"
            android:label="@string/title_activity_abs_base"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
