<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ionchain.wallet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".App"
        android:icon="@mipmap/login_logo"
        android:label="IONCToken"
        android:roundIcon="@mipmap/login_logo"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.ionchain.wallet.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".mvp.view.activity.WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.view.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".mvp.view.activity.createwallet.CreateWalletSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.view.activity.createwallet.CreateWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ScanActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.importmode.ImportByPriKeyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.modify.ModifyAndExportWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.ManageWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.view.activity.MessageCenterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- <meta-data -->
        <!-- android:name="UMENG_APPKEY" -->
        <!-- android:value="5b0f99c9f43e483e64000033" /> -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_MESSAGE_SECRET" -->
        <!-- android:value="85cab502850c3752c3b26615477e4dc8" /> -->

        <activity
            android:name=".mvp.view.activity.ShowAddressActivity"
            android:label="@string/title_activity_show_address"
            android:theme="@style/AppTheme" />
        <activity android:name=".mvp.view.activity.transaction.TxActivity" />
        <activity android:name=".mvp.view.activity.importmode.SelectImportModeActivity" />
        <activity android:name=".mvp.view.activity.importmode.ImportByMnemonicActivity" />
        <activity
            android:name=".mvp.view.activity.importmode.ImportByKeystoreActivity"
            android:label="@string/title_activity_import_by_keystore"
            android:theme="@style/AppTheme" />
        <activity android:name=".qrcode.android.CaptureActivity" />
        <activity android:name=".mvp.view.activity.transaction.TxRecoderActivity" />
        <activity android:name=".mvp.view.activity.WebActivity"></activity>


        <activity android:name=".mvp.view.activity.sdk.SDKSelectCreateModeWalletActivity"/>
        <activity android:name=".mvp.view.activity.sdk.SDKCreateActivity"/>
        <activity android:name=".mvp.view.activity.sdk.SDKKeyStoreActivity"/>
        <activity android:name=".mvp.view.activity.sdk.SDKMnemonicActivity"/>
        <activity android:name=".mvp.view.activity.sdk.SDKPrivateKeyActivity"/>
    </application>

</manifest>