<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ionchain.wallet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".App"
        android:icon="@mipmap/login_logo"
        android:label="@string/ionc_app_name"
        android:roundIcon="@mipmap/login_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".mvp.view.activity.webview.UseHelpActivity"></activity>
        <activity android:name=".mvp.view.activity.webview.TxRecordBrowserActivity" />
        <activity
            android:name=".mvp.view.activity.transaction.TxRecordDetailActivity"
            android:launchMode="singleTop" />
        <activity android:name=".mvp.view.activity.setting.coin.SelectCoinActivity" />
        <activity
            android:name=".mvp.view.activity.setting.language.SettingLanguageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${appId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="${file_paths}" />
        </provider>

        <activity
            android:name=".mvp.view.activity.welcome.WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.view.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".mvp.view.activity.create.CreateWalletSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.view.activity.create.CreateWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".mvp.view.activity.imports.ImportByPriKeyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".mvp.view.activity.modify.ModifyAndExportWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".mvp.view.activity.manager.ManageWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".mvp.view.activity.address.ShowAddressActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".mvp.view.activity.transaction.TxOutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".mvp.view.activity.imports.SelectImportModeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".mvp.view.activity.imports.ImportByMnemonicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".mvp.view.activity.imports.ImportByKeystoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".mvp.view.activity.webview.AgreementWebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".mvp.view.activity.webview.AboutUsWebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme" />
        <activity
            android:name=".qrcode.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/IONCAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>
